<!DOCTYPE html>
<style>
    
</style>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <script>
        $(document).ready(function () {
            $('ul li a').click(function (event) {
                // Prevent the default action of the link
                event.preventDefault();

                // Remove the 'active' class from all other elements
                $('ul li a').removeClass('active');
                // Add the 'active' class to the clicked element
                $(this).addClass('active');
            });
        });
    </script> *@
    <title>@ViewData["Title"] - DnDCharacterBuilder.Web</title>
    <style>
        body {
            margin: 0px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #6e3841;
            position: sticky    ;
            top: 0;
            width: 100%;
        }

        li {
            float: right;
            border-left: 1px solid floralwhite;
        }

        li:last-child {
            border-left: none;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(:active) {
            background-color: #111;
        }

        li a:focus {
            background-color: #111;
        }
    </style>
</head>
<body>

    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/Character/CreateCharacter">Characters</a></li>
        <li><a href="#contact">Classes</a></li>
        <li><a href="#about">Races</a></li>
    </ul>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>



</html>

<script type="text/javascript">
    $(document).ready(function () {
        //var url = window.location.pathname;
        var url = 'http://stacksnippets.net/js#division';
        console.log('url-->', url);

        $('ul li a').each(function () {
            var href = $(this).attr('href');
            if (!!url.match(href)) {
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
        });

    });
</script>
