<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DnDCharacterBuilder.Web</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=MedievalSharp">
    <link href="~/css/Layout.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>

    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/Character/CreateCharacter">Create</a></li>
        <li><a href="/Characters">Characters</a></li>
        <li><a href="/Class/ListClasses">Classes</a></li>
        <li><a href="/Race/ListRaces">Races</a></li>
    </ul>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>



</html>

@* <script type="text/javascript">
    $(document).ready(function () {
        //var url = window.location.pathname;
        var url = 'http://stacksnippets.net/js#division';
        console.log('url-->', url);

        $('ul li a').each(function () {
            var href = $(this).attr('href');
            if (!!url.match(href)) {
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
        });

    });
</script> *@
