@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=MedievalSharp">
    <link href="./css/Layout.css" rel="stylesheet" />
    <link href="~/css/WelcomePageStyle.css" rel="stylesheet"/>
</head>
<body>
    <div class="dnd-image"/>
    <div class="welcome-text">
        <h1 class="title">DnD Character Creator</h1>
        <div>
            <a href="/account/login">
                <button class="button">Join Here</button>
            </a>
        </div>
        <div>
            <a href="/Character/CreateCharacter">
                <button class="button">Create Character</button>
            </a>
        </div>
    </div>
</body>
</html>
