body {
    margin: 0;
    font-family: "MedievalSharp";
    background-color: floralwhite;
}

.dnd-image {
    position: absolute;
    left: 400px;
    right: 0px;
    bottom: 0px;
    width: 80%;
    height: 80%;
    background-image: url(/images/dnd-character.webp);
    background-color: floralwhite;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    justify-content: right;
    align-items: center;
}

.welcome-text {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -90%);
    color: #6e3841;
}

.button {
    background-color: floralwhite;
    border: 2px solid #6e3841;
    color: #6e3841;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "MedievalSharp";
    font-size: 30px;
    cursor: pointer;
}

    .button:hover {
        background-color: #6e3841;
        color: floralwhite;
    }
