@model List<ClassViewModel>;
@{
    Layout = "_Layout";
}

<link href="~/css/TableStyle.css" rel="stylesheet" />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Hit Die</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var characterClass in Model)
        {
            <tr>
                <td>@characterClass.Name</td>
                <td>@characterClass.ProficiencyDescription</td>
                <td>@characterClass.HitDie</td>
            </tr>
        }
    </tbody>
</table>
